
  <br>

  <h1>Enter New Round!</h1>

    <div id="content2">

      <form action="/round/create" method="POST" >

        <input style="margin-left: 10%;" type="hidden" placeholder="Owner" name="owner" value="<%= golfer.id %>" ><br />
        <input style="margin-left: 10%; " type="text" placeholder="Course" name="location" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Date" name="date" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Holes Played" name="holes_played" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Total Score" name="total_score" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Relation to Par" name="relation_to_par" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Front Nine Score" name="front_score" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Back Nine Score" name="back_score" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Greens in Regulations" name="greens" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Total Putts" name="putts" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Fairways Hit" name="fairways" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Birdies Made" name="birdies" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Par Saves" name="par_saves" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="text" placeholder="Doubles or Worse" name="doubles" ><br />
        <input style="margin-left: 10%; margin-top: 5%" type="submit" value="Add Round" />
      </form>

    </div>






