
  <br>

  <h1>Enter New Round!

    <div id="content2">

      <form id="tableForm" action="/round/create" method="POST">

        <input style="margin-left: 10%;" id="owner" name ="owner" type="hidden" value="<%= golfer.id %>"></input>

        <br>

        <select style="margin-left: 10%;" id="course" name ="location">
          <option>Course Played</option>
        </select>

        <br>

        <input style="margin-left: 10%;"  type="date" name="date">

        <br>

        <select style="margin-left: 10%;"  id="selectHoles" name ="holes_played">
          <option>Holes Played</option>
        </select>

        <br>

        <input style="margin-left: 10%;" type="text" placeholder="Total Score" name="total_score" >

        <input style="margin-left: 10%;" type="text" placeholder="Relative to Par" name="relation_to_par" >

        <input style="margin-left: 10%;" type="text" placeholder="Front Score" name="front_score" >

        <input style="margin-left: 10%;" type="text" placeholder="Back Score" name="back_score" >

        <input style="margin-left: 10%;" type="text" placeholder="Greens in Regulation" name="greens" ><br />

        <input style="margin-left: 10%;" type="text" placeholder="Putts" name="putts" ><br />

        <input style="margin-left: 10%;" type="text" placeholder="Fairways Hit" name="fairways" ><br />

        <input style="margin-left: 10%;" type="text" placeholder="Birdies Made" name="birdies" ><br />

        <input style="margin-left: 10%;" type="text" placeholder="Par Saves" name="par_saves" ><br />

        <input style="margin-left: 10%;" type="text" placeholder="Doubles Made" name="doubles" ><br />

        <input style="margin-left: 75%; margin-top: 10px;" type="submit"/>

      </form>

    </div>

    <script>
      var myArray = new Array("Meadowlark", "Country Club");

      var dropdown = document.getElementById("course");

      for (var i = 0; i < myArray.length; ++i) {
        dropdown[dropdown.length] = new Option(myArray[i], myArray[1]);
      }
    </script>


    <script>
       var myArray = new Array("9", "18");

       var dropdown = document.getElementById("selectHoles");

       for (var i = 0; i < myArray.length; ++i) {
         dropdown[dropdown.length] = new Option(myArray[i], myArray[1]);
       }
   </script>

    <script>

        var myArray = [round.courses];
        var allCourses = [];

          for (i = 0; i < myArray.length; i++) {

              allCourses.push(i.name);
              console.log(allCourses);
            }

    </script>



















