
  <br>

  <h1>Create a New Profile</h1>

    <div id="content2">

      <form action="/golfer/create" method="POST">
        <input type="text" placeholder="First Name" name="first_name"> <br/>
        <input type="text" placeholder="Last Name" name="last_name"> <br/>
        <input type="text" placeholder="Nickname" name="nickname"> <br/>
        <br>
        <input type="submit" value="Create Profile" />
      </form>

    </div>
